body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1919;
}

h1 {
  font-weight: 100;
}

canvas {
  background-color: #ffaa00;
}
h2 {
  color: red;
}